<div class="main">
  <div clasS="container">
    <div class="new-container">
      <div class="new-form-container">
        <div class="new-form-title">アカウント編集画面</div>

        <%= form_with model:@user, local: true do |f| %>
          <div class="field">
            <%= f.label :nickname, "ニックネーム", class:"spot-comment" %><br />
            <%= f.text_area :nickname, autofocus: true, placeholder: "(例)たなか", class: "form-address" %>
          </div>

          <div class="field">
            <%= f.label :email, "メールアドレス", class:"spot-comment" %><br />
            <%= f.email_field :email, autocomplete: "email", class: "form-address" %>
          </div>

          <div class="field">
            <%= f.label :profile, "プロフィール", class:"spot-comment" %><br />
            <%= f.text_area :profile, placeholder: "(例)自己紹介文", class:"form-comment" %>
          </div>

          <div class="field">
            <%= f.label :hobby, "趣味", class:"spot-comment" %><br />
            <%= f.text_area :hobby, placeholder: "(例)テニス、茶道", class:"form-comment" %>
          </div>

          <div class="submit-btn">
            <%= f.submit "更新する", class:"new_spot_btn" %>
          </div><br />
        <% end %>
      </div>
    </div>
  </div>
</div>