<div class="main">
  <div class="container">
    <div class="new-container">
      <div class="new-form-container">
        <div class="new-form-title">ログイン画面</div>

        <%= form_with model:@user, url: user_session_path, local: true do |f| %>
          <div class="field">
            <%= f.label :email, "メールアドレス", class:"spot-comment" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-address" %>
          </div>

          <div class="field">
            <%= f.label :password, "パスワード", class:"spot-comment" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-address" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div><br />
          <% end %>

          <div class="submit-btn">
            <%= f.submit "ログイン", class:"new_spot_btn" %>
          </div><br />
        <% end %>
      </div>
    </div>
  </div>
</div>
