<div class="main">
  <div class="container">

      <div class="show-container">

        <div class="show-about-container">

          <div class="left-container">

            <table class="about-container">
              <tr class="about-box">
                <th class="font">作成したユーザー：</th>
                <td><%= link_to @post.user.nickname, user_path(@user.id), class:"user btn" %></td>
              </tr>
              <tr class="about-box">
                <th class="font">お気に入りスポット：</th>
                <td class="spot"><%= @post.address %></td>
              </tr>
              <tr class="about-box">
                <th class="font">コメント：</th>
                <td class="comment"><%= @post.comment %></td>
              </tr>
            </table>

            <% if @post.image.present? %>
              <div class="item-box-img">
                <%= image_tag @post.image, class: "item-img" %>
              </div>
            <% end %>

          </div>

          <div class="right-container">
              <%= render partial: "map", locals: { post: @post }  %>
          </div>

        </div>

        <div class="option_container">
          <% if user_signed_in? && current_user.id == @post.user_id %>
            <div class="edit_option"><%= link_to "編集", edit_post_path(@post.id), class:"edit_btn", id:"edit_btn" %></div>
            <div class="delete_option"><%= link_to "削除", post_path(@post.id), data:{ turbo_method: :delete }, class:"delete_btn", id:"delete_btn" %></div>        
          <% end %>
        </div>
      </div>

  </div>
</div>
